.card-body .sicon {
    color: #20AD96;
    margin-right: 5px;
} 
.card-body p{
    font-size: 12px;
}
.card-img-top {
    max-height: 200px;
}
.title{
    font-size: 20px;
}
.card-height{
    border: 2px solid grey;
}